img {
  height: 25vh;
}

.color {
  background-color: #28173f;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
  opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}
